$lightest-gray: #f3f3f3;
$light-gray: rgb(201, 201, 201);

$gray: #9B9B9B;
$dark-gray:rgb(63, 70, 82);
$darkest-gray: rgb(39, 44, 51);

$background: rgba(0, 0, 0, 0.315);
$white: white;

$green: #6bc76b;
$dark-green: #5aaa5a;

$light-blue: #3391FF;
@mixin remove-btn-default {
    background: none;
    border: none;
}
@mixin anchor-top-left {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin box-shadow($x){
    -webkit-box-shadow: $x;
    -moz-box-shadow: $x;
    -ms-box-shadow: $x;
    box-shadow: $x;
};

@mixin border-radius($x){
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    -ms-border-radius: $x;
    border-radius: $x;
};

@mixin position-transition{
    position: absolute;
    z-index: 3;
    transition: all 0.3s;
}

@mixin hidden{
    display: none;
    visibility: hidden;
    position: absolute;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fillContainer{
    height: 100%;
    width: 100%;
}

@mixin fullViewport{
    width: 100vw;
    height: 100vh;
}

@mixin hover-color{
    background: $background;
    color:  $white;
}

@mixin no-space {
    margin: 0;
    padding: 0;
}

@mixin transition ($str...) {
    -webkit-transition: $str;
    -ms-transition: $str;
    -o-transition: $str;
    -moz-transition: $str; 
    transition: $str;
}
