@mixin dashboard-lg {
    .dashboard-summary-data{
        width: 45%;
        margin-right: 2rem;
    }
    .dashboard-all-investments-graph{
        width: 55%;
    }
    #selected-invest-form-save-btn{
        width: 10rem;
    }
}
@mixin dashboard-md {
    .dashboard-summary-data{
        width: 80%;
        font-size: 0.9rem;
    }
    .dashboard-all-investments-graph{
        width: 80%;
    }
    #selected-invest-form-save-btn{
        width: 10rem;
    }
}
@mixin dashboard-sm {
    .dashboard-summary-data{
        // p{
        //     font-size: 0.8rem;
        // }
        font-size: 0.8rem;
        width: 90%;
    }
    .dashboard-all-investments-graph{
        width: 90%;
    }
    #selected-invest-form-save-btn{
        width: 100%;
    }
}